.question {
  margin-bottom: 40px;

  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
  }

  &__time {
    color: rgba(#fff, .5);
  }

  &__content {
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author {
    font-size: 10px;
    line-height: 1.29;
    font-weight: 600;
    letter-spacing: .26em;
    text-transform: uppercase;
    color: rgba(#fff, .5);
  }

  &__bottom-likes {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 4px;
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote-up--white.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    position: relative;
    margin-top: 20px;
    padding: 25px 20px;
    background: #040404;

    &:before {
      position: absolute;
      top: -15px;
      left: 20px;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-width: 15px 0 0 15px;
      border-style: solid;
      border-color: transparent transparent transparent #040404;
    }
  }
}
