mixin question(data)
  .question&attributes(attributes)
    .question__wrapper
      .question__header
        .question__header-title Для 
          a.text-secondary(href="#") Виктория Моршанская
        .p.xs.mb-0.question__time 14:00
      p.xs.mb-15 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
      .question__bottom
        .question__author Виктор Пайет, Москва
        a.question__bottom-likes(href="#") 150
    .question__answer
      p.xs.text-white.font-weight-semibold.mb-15 Ответ
      p.xs.font-weight-semibold.mb-0 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов