.track {

  &__info {
    margin-bottom: 45px;
    padding: 40px 0;
  }

  &__info-left {
  }

  &__info-left-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-left-main {
    display: flex;
    align-items: center;
  }

  &__info-share {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__info-left-bottom {
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      align-items: flex-start;
    }
  }

  &__info-voting-wrapper {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
  }

  &__info-voting {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 25px;
    }
  }

  &__info-icon {
    margin-right: 14px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    &--down {
      background: url(../img/vote-down.svg) no-repeat center;
      background-size: contain;
    }

    &--up {
      background: url(../img/vote-up.svg) no-repeat center;
      background-size: contain;
    }
  }
}
