mixin modal(data)
  .modal&attributes(attributes)
    h2.mb-20.mb-lg-40 Задать вопрос
    form.form(action="#", method="POST")
      .form__section
        .form__item.form-group
          label.form__label Спикер
          +select({
            placeholder: 'Заполните'
          })
        .form__item.form-group
          label.form__label Введите сообщение
          textarea.input.input--textarea.form-control(required, placeholder="Заполните") 
      .form__section.mt-20.mt-lg-60
        button.btn.btn-outline-primary.w-100(type="submit") Отправить