html {
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: $black;
  background-size: 100% auto;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-down(md) {
    height: auto;
    min-height: 100vh;
  }
}
