h1,
.h1 {
  font-size: 80px;
  line-height: 1.21;
  font-weight: 600;
  color: #fff;

  @include media-breakpoint-down(md) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  font-size: 20px;
  line-height: 1.3;
  color: rgba(#fff, .7);

  &.md {
    font-size: 18px;
  }

  &.sm {
    font-size: 16px;
  }

  &.xs {
    font-size: 14px;
  }

  a {

    @include transition;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-black {
  font-weight: 900;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
