.cover {
  padding: 30px 0;
  background: url(../img/pattern-bg.svg) repeat-x center;

  &__date {
    margin-top: 20px;
    font-size: 34px;
    line-height: 41px;
    font-weight: 400;
    color: #fffefe;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }

  &__video-content {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__video-content-left {
  }

  &__video-content-comment {
    font-size: 12px;
    line-height: 2.5;
    font-weight: 700;
    text-transform: uppercase;
    color: #fffefe;
  }

  &__video-live {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: $secondary;

    @include media-breakpoint-down(sm) {
      padding: 7px 15px;
    }
  }
}
