mixin cover(data)
  .cover&attributes(attributes)
    .container
      .row
        .col-lg-6
          h1 SKOLKOVO NOBEL FORUM
          .cover__date 19 ноября 2020
        .col-lg-6
          +video
          .cover__video-content
            .cover__video-content-left
              p.text-white.text-uppercase.mb-5 
                a.text-white(href="#") Название сессии в несколько строк в эфире
              .cover__video-content-comment track name
            .cover__video-live Live