.speaker-page {

  &__info {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__info-item {
    margin-right: 20px;
    font-size: 14px;
    color: #fff;

    &:last-child {
      margin-right: 0;
    }

    & + & {

      &:before {
        margin-right: 20px;
        display: inline-flex;
        content: '•';
      }
    }
  }
}
