mixin text-card(data)
  .text-card&attributes(attributes)
    .container
      .row
        .col-lg-3.d-flex.align-items-center.justify-content-center
          .text-card__icon-wrapper
            img(src="./img/" + data.icon, alt)
        .col-lg-9.d-flex.align-items-center
          .h2.text-uppercase.text-card__content
            span.font-italic.text-primary.font-weight-semibold= data.header
            span= data.dscr
