.text-card {
  margin-bottom: 120px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }

    img {
      max-width: 170px;
    }
  }

  &__content {
    font-size: 18px;
  }
}
