.news {
  margin-bottom: 45px;
  display: block;
  background: #1e1e1e;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    position: relative;
    padding-top: 83.33%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 20px 25px;
  }

  &__date {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(#fffefe, .5);
  }

  &__title {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }
}
