mixin news(data)
  a.news(href="#")&attributes(attributes)
    .news__picture
      img(src="./img/" + data.picture, alt)
    .news__content
      .news__date 21 ноября 12:00
      .news__title Заголовок для новости в одну или несколько строк для наглядности