.message {
  padding: 10px 20px;
  display: flex;
  text-decoration: none;

  @include transition;

  &:hover {
    text-decoration: none;
    background: lighten(#1e1e1e, 10%);
  }

  @include media-breakpoint-down(sm) {
    padding-left: 13px;
  }

  &__userpic {
    margin-right: 17px;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
    flex-grow: 1;
  }

  &__content-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__name {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
    height: 20px;
    background: url(../img/message-menu.svg) no-repeat center;
    background-size: contain;
  }

  &__time {
    margin-left: 10px;
    opacity: .5;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  &__answer-btn {
    margin-top: 10px;
    display: none;
    font-size: 12px;
    font-weight: 700;
    color: rgba($primary, .7);
  }

  &--active {
    background: #f8f9fa;
  }

  &--current {

    .message__name {
      color: $primary;
    }
  }

  &--answer {
    margin-left: 35px;
  }

  &--front {
    align-items: center;

    .message__userpic {
      margin-right: 14px;
      width: 39px;
      height: 39px;
    }

    .message-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
