mixin message(data)
  .message&attributes(attributes)
    .message__userpic(style="background-image: url(./img/" + data.photo + ");")
    .message__content
      .message__content-header
        if data && data.name
          .message__name= data.name
        else
          .message__name Вячеслав Чморшанский
        if data && data.modifier == 'active'
          .message__menu
        else
          .message__time 15:50
      .p.xs= data.content
      a.message__answer-btn(href="#") Ответить
