/* Bootstrap */

.btn {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  border-width: 3px;
  border-radius: 0;

  &.btn-outline-primary {
    padding: 17px 20.2px;
    font-size: 16px;
    color: #fff;

    &:hover {
      color: #000;
    }

    &--text-lg {
      font-size: 16px;
    }
  }
}

.nav-tabs {
  border-bottom: 0;

  .nav-item {
    margin-right: 40px;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  .nav-link {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid $secondary;
    border-radius: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &:hover {
      border-color: transparent;
    }

    &.active {
      color: $secondary;
      background: transparent;
      border-color: transparent;
    }
  }

  &--steps {
    margin-top: 25px;
    margin-bottom: 35px;
    padding-left: 0;
    display: flex;
    overflow: hidden;

    .nav-item {
      position: relative;
      margin-right: 65px;
      margin-bottom: 0;
      list-style: none;

      @include media-breakpoint-down(md) {
        margin-right: 20px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 50%;
        right: -20px;
        display: block;
        width: 100px;
        height: 1px;
        content: '';
        background: #1e1e1e;
        transform: translateX(-50%);
      }

      &:last-child {
        margin-right: 0;
      }

      &--done {

        &:before {
          background: $primary;
        }

        .nav-link {
          color: #000;
          background: $primary;
          border-color: $primary;

          &.active {
            color: #6c6b6a;
          }
        }
      }
    }

    .nav-link {
      position: relative;
      z-index: 1;
      display: flex;
      width: 36px;
      height: 36px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 700;
      color: #6c6b6a;
      background: #000;
      border: 1px solid #1e1e1e;
      border-radius: 0;

      @include transition;

      &:hover {
        border-color: $primary;
      }

      &.active {
        color: #fff;
        background: #000;
        border-color: $primary;
      }
    }
  }

  &--btns {

    .nav-item {
      margin-right: 25px;

      .nav-link {
        padding: 14px 17px;
        font-size: 14px;
        line-height: 1;
        font-weight: 600;
        text-transform: none;
        color: #fff;
        border: 3px solid #6c6b6a;

        &.active {
          background: rgba(211, 216, 0, .14);
          border: 3px solid $primary;
        }
      }
    }
  }
}

.custom-radio {

  .custom-control-input {
    padding-left: 42px;

    &:checked ~ .custom-control-label {

      &:before {
        background: transparent;
        border-color: #6c6b6a;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  .custom-control-label {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

    &:focus {

      &:before {
        box-shadow: none;
      }
    }

    &:before {
      top: 1px;
      left: -42px;
      width: 24px;
      height: 24px;
      background: transparent;
      border: 1px solid #6c6b6a;
    }

    &:after {
      top: 8px;
      left: -35px;
      width: 10px;
      height: 10px;
      opacity: 0;
      background: $primary;
      background-image: none !important;
      border-radius: 50%;
    }
  }

  &--row {
    padding-left: 0;

    .custom-control-input {

      &:checked ~ .custom-control-label {
        color: #000;
        background: $primary;
      }
    }

    .custom-control-label {
      padding: 5px 15px;
      font-size: 15px;
      line-height: 26px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;

      @include transition;

      @include media-breakpoint-down(lg) {
        padding: 5px 10px;
        font-size: 12px;
      }

      &:hover {
        opacity: .8;
      }

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

.custom-checkbox {
  margin-bottom: 20px;
  padding-left: 40px;

  .custom-control-input {

    &:checked ~ .custom-control-label {

      &:before {
        background: url(../img/check.svg) no-repeat center;
        border-color: #6c6b6a;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  .custom-control-label {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    text-transform: none;
    color: #fff;

    &:focus {

      &:before {
        box-shadow: none;
      }
    }

    &:before {
      top: 3px;
      left: -40px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 1px solid #6c6b6a;
      border-radius: 0;
    }

    &:after {
      display: none;
    }
  }
}

.custom-file {
  max-width: 108px;

  &:hover {

    .custom-file-label {
      color: #000;
      background: $primary;
    }
  }

  .custom-file-input {
  }

  .custom-file-label {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: transparent;
    border: 3px solid $primary;
    border-radius: 0;

    @include transition;

    &:before,
    &:after {
      display: none;
    }
  }

  &--chat {
    margin-right: 16px;
    width: 11px;
    height: 18px;

    &:hover {

      .custom-file-label {
        background: url(../img/clip.svg) no-repeat center;
        background-size: contain;
      }
    }

    .custom-file-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .custom-file-label {
      width: 100%;
      height: 100%;
      font-size: 0;
      background: url(../img/clip.svg) no-repeat center;
      background-size: contain;
      border: 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

/* Datepicker */

div.ui-datepicker {
  z-index: 6 !important;
  margin-top: 10px;
  padding: 0;
  width: 345px;
  font-family: $font-family-sans-serif;
  background: #fff;
  border: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }

  .ui-datepicker-header {
    position: relative;
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
  }

  .ui-datepicker-title {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 700;
    text-transform: uppercase;
    color: #252627;
  }

  .ui-datepicker-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -5px;
    width: 9px;
    height: 12px;
    font-size: 0;
    background: url(../img/arrow-small.svg) no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -5px;
    width: 9px;
    height: 12px;
    font-size: 0;
    background: url(../img/arrow-small.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;

    tr {
    }

    th {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 60px;
      font-size: 10px;
      line-height: .88;
      font-weight: 900;
      letter-spacing: .9px;
      text-transform: uppercase;
      color: #5c626b;
      border-bottom: 1px solid fade($primary, 20%);

      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }

    td {
      width: 35px !important;
      height: 40px;
    }
  }

  .ui-state-default {
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #252627;
    background: transparent;
    border: 0;
    border-radius: 50%;
  }

  .ui-state-active {
    background: $primary;
  }

  .ui-datepicker-today {

    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      color: #fff;
      background: $primary;
    }
  }

  .ui-icon {
    background: transparent !important;
  }

  .ui-datepicker-week-end {

    .ui-state-default {
      color: #ff2d2d;
    }

    &.selected {

      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-month {
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    margin: 15px auto 10px;
    display: block;
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    cursor: pointer;

    @include transition;

    &:hover {
      color: #fff;
      background: $black;
    }
  }
}

/* Perfect Scrollbar */

.ps--active-y > .ps__rail-y {
  width: 6px;
  opacity: 1 !important;
  background-color: #2b2b2b;

  .ps__thumb-y {
    right: 0;
    width: 6px;
    background: #e6a112;
    border-radius: 20px;
  }
}

.ps--active-x > .ps__rail-x {
  display: none;
}


/* Fancybox */

.fancybox-slide--html .fancybox-close-small {
  
  svg {
    color: #fff;
  }
}