.conversation-item {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__message {
    position: relative;
    padding: 17px 25px;
    max-width: 600px;
    background: rgba($secondary, .2);

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-width: 10px 10px 0 0;
      border-style: solid;
      border-color: rgba($secondary, .2) transparent transparent transparent;
    }
  }

  &__bottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__status {
    margin-right: 10px;
    width: 18px;
    height: 9px;

    &--read {
      background: url(../img/message-read.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__info {
    font-size: 14px;
    line-height: 1.3;
    color: rgba(#fff, .5);
  }

  &--personal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .conversation-item__message {
      background: rgba(#000, .2);

      &:after {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: transparent rgba(#000, .2) transparent transparent;
      }
    }
  }

  &--document {

    .conversation-item__message {
      background: $secondary;

      &:after {
        display: none;
      }
    }
  }
}
