mixin conversation-item(data)
  .conversation-item&attributes(attributes)
    .conversation-item__message
      if data && data.modifier2 == 'document'
        +document({
          icon: 'document.svg',
          title: 'Filename.pdf',
          info: '12 mb'
        }).document--white
      else
        .p.xs.text-white= data.content
    .conversation-item__bottom
      .conversation-item__status.conversation-item__status--read
      .conversation-item__info= data.info