mixin pagination(data)
  .pagination&attributes(attributes)
    a.pagination__item.pagination__item--arrow.pagination__item--arrow-left(href="#")
    a.pagination__item(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 23
    a.pagination__item.pagination__item--arrow.pagination__item--arrow-right(href="#")