.pagination {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 14px;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #1e1e1e;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }

    &--arrow {
      background: $primary url(../img/pagination-arrow.svg) no-repeat center;
    }

    &--arrow-left {
    }

    &--arrow-right {
      transform: rotate(180deg);
    }
  }
}
