
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/text-card/text-card.pug
include ../blocks/fancy-slider/fancy-slider.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/nobless/nobless.pug
include ../blocks/language/language.pug
include ../blocks/link-back/link-back.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/input/input.pug
include ../blocks/socials/socials.pug
include ../blocks/select/select.pug
include ../blocks/registration/registration.pug
include ../blocks/form/form.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/cover/cover.pug
include ../blocks/session-slider/session-slider.pug
include ../blocks/session/session.pug
include ../blocks/chat-front/chat-front.pug
include ../blocks/track/track.pug
include ../blocks/player/player.pug
include ../blocks/chat/chat.pug
include ../blocks/speaker/speaker.pug
include ../blocks/question/question.pug
include ../blocks/chat-card/chat-card.pug
include ../blocks/partner/partner.pug
include ../blocks/user/user.pug
include ../blocks/pagination/pagination.pug
include ../blocks/search/search.pug
include ../blocks/program/program.pug
include ../blocks/item/item.pug
include ../blocks/news/news.pug
include ../blocks/article/article.pug
include ../blocks/gallery/gallery.pug
include ../blocks/conversation/conversation.pug
include ../blocks/video/video.pug
include ../blocks/message/message.pug
include ../blocks/questions/questions.pug
include ../blocks/filters/filters.pug
include ../blocks/schedule/schedule.pug
include ../blocks/document/document.pug
include ../blocks/item/item.pug
include ../blocks/conversation-item/conversation-item.pug
include ../blocks/modal/modal.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/speaker-page/speaker-page.pug