.input {
  padding: 0 19px;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  border: 1px solid #6c6b6a;
  border-radius: 0;

  &:focus {
    color: #fff;
    background: #000;
    outline: none;
    box-shadow: none;
  }

  @include placeholder(rgba(#fff, .2));

  &--datepicker {
    background: url(../img/calendar.svg) no-repeat center right 13px;

    &:focus {
      background: #000 url(../img/calendar.svg) no-repeat center right 13px;
    }
  }

  &--textarea {
    padding: 15px 19px;
    height: 125px !important;
    resize: none;
  }
}
