.chat-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  &__picture {
    margin-bottom: 40px;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  .btn {
    margin-top: auto;
  }
}
