mixin chat-card(data)
  .chat-card&attributes(attributes)
    .chat-card__picture(style="background-image: url(./img/" + data.icon + ');')
    h2.mb-25.text-uppercase= data.title
    if data && data.btn
      a.btn.btn-outline-primary.btn-outline-primary--text-lg(href="#")= data.btn
    else
      a.btn.btn-outline-primary.btn-outline-primary--text-lg(href="#") Начать