mixin chat(data)
  .chat&attributes(attributes)
  
    if data && data.modifier == 'conversation'
      .chat__content.chat__content--conversation
        +conversation-item({
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот ',
          info: 'Вячеслав, 13:06 12.04.2020'
        })
        +conversation-item({
          modifier: 'personal',
          content: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
          info: 'Вы 13:06 12.04.2020'
        }).conversation-item--personal
        +conversation-item({
          modifier: 'personal',
          modifier2: 'document',
          info: 'Вы 13:06 12.04.2020'
        }).conversation-item--document.conversation-item--personal
        +conversation-item({
          modifier2: 'document',
          info: 'Вячеслав, 13:06 12.04.2020'
        }).conversation-item--document
      .chat__footer.chat__footer--conversation
        form.chat__form(action="#", method="POST")
          .chat__form-left
            .custom-file.custom-file--chat
              input#customFile.custom-file-input(type='file')
              label.custom-file-label(for='customFile') Choose file
            input.chat__form-input(type="text", placeholder="Сообщение")
          .chat__form-right
            a.chat__form-emoji(href="#")
            button.chat__form-btn(type="submit")

    else
      .chat__header 
        p.text-uppercase.font-weight-medium.text-white.mb-0 Комментарии
        .chat__messages-number 350
      .chat__content
        +message({
          photo: 'user-1.jpg',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько',
        })
        +message({
          photo: 'user-2.jpg',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
        })
        +message({
          photo: 'user-3.jpg',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        }).message--answer
        +message({
          photo: 'user-4.jpg',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
        })
        +message({
          photo: 'user-1.jpg',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
        })
        +message({
          photo: 'user-2.jpg',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
        })
        +message({
          photo: 'user-3.jpg',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        })
        +message({
          photo: 'user-4.jpg',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
        })
      .chat__footer
        form.chat__form(action="#", method="POST")
          .chat__form-left
            input.chat__form-input(type="text", placeholder="Написать комментарий")
          .chat__form-right
            a.chat__form-emoji(href="#")
            button.chat__form-btn(type="submit")
