mixin gallery(data)
  .gallery&attributes(attributes)
    a.gallery__item(href="#")
      .gallery__picture
        img(src="./img/gallery-1.jpg", alt)
      .gallery__content
        p.text-uppercase.text-white.mb-5 Фото из галерии
        p.xs С подписью
    a.gallery__item(href="#")
      .gallery__picture
        img(src="./img/gallery-2.jpg", alt)
      .gallery__content
        p.text-uppercase.text-white.mb-5 Фото из галерии
        p.xs С подписью
    a.gallery__item(href="#")
      .gallery__picture
        img(src="./img/gallery-3.jpg", alt)
      .gallery__content
        p.text-uppercase.text-white.mb-5 Фото из галерии
        p.xs С подписью
    a.gallery__item(href="#")
      .gallery__picture
        img(src="./img/gallery-4.jpg", alt)
      .gallery__content
        p.text-uppercase.text-white.mb-5 Фото из галерии
        p.xs С подписью
    a.gallery__item(href="#")
      .gallery__picture
        img(src="./img/gallery-5.jpg", alt)
      .gallery__content
        p.text-uppercase.text-white.mb-5 Фото из галерии
        p.xs С подписью