.gallery {
  margin-top: 100px;

  &__item {
    padding: 0 20px;
    width: 100%;
    max-width: 408px;

    @include transition;

    @include media-breakpoint-down(md) {
      max-width: 300px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 250px;
    }

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline: none;
    }

    &.slick-active {

      .gallery__picture {
        z-index: 1;
        transform: scale(1.43);
      }

      .gallery__content {
        opacity: 1;
      }
    }
  }

  &__picture {
    position: relative;
    padding-top: 76%;
    transform-origin: center;

    @include transition;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    text-align: center;

    @include transition;
  }

  .slick-list {
    padding-top: 60px !important;
  }
}
