.filters {
  margin-bottom: 60px;

  &__content {
    position: relative;
    margin-bottom: 0;
    margin-left: -14px;
    display: flex;
    width: calc(100% + 14px);

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__clear {
    position: absolute;
    top: 100%;
    right: 28px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

    &:before {
      margin-right: 13px;
      display: block;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      content: '';
      background: url(../img/filters-clear.svg) no-repeat center;
      background-size: contain;
    }
  }
}
