.article {

  &__content {

    img {
      margin-bottom: 65px;
    }

    h1 {
      margin-bottom: 60px;
    }

    h2 {
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 30px;
      font-weight: 400;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(#fffefe, .5);
  }

  &__illustration {
  }

  &__illustration-content {
    position: relative;

    &:before {
      position: absolute;
      z-index: 1;
      top: -6px;
      left: -31px;
      display: block;
      width: 91px;
      height: 97px;
      content: '';
      background: url(../img/illustration-before.svg) no-repeat center;
      background-size: contain;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: -14px;
      display: block;
      width: 229px;
      height: 223px;
      content: '';
      background: url(../img/illustration-after.svg) no-repeat center;
      background-size: contain;
    }
  }
}
