.chat-front {
  padding: 40px 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #1e1e1e;
  background-repeat: no-repeat;

  @include transition;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    align-items: center;
  }

  &:hover {
    opacity: .8;
  }

  &__icon {
    margin-bottom: 13px;
    display: flex;
    width: 100%;
    height: 162px;
    justify-content: center;
    align-items: center;
  }
}
