mixin chat-front(data)
  a.chat-front(style="background-image: url(./img/" + data.bg + ");", href="#")&attributes(attributes)
    .chat-front__icon
      img(src="./img/" + data.icon, alt)
    h2.text-uppercase.mb-0!= data.title