mixin socials(data)
  .socials&attributes(attributes)
    if data && data.modifier == 'login'
      a.socials__link(href="#", style="background-color: #4c75a3")
        img(src="./img/socials-vk.svg", alt)
      a.socials__link(href="#", style="background-color: #3b5999")
        img(src="./img/socials-fb.svg", alt)
      a.socials__link(href="#", style="background-color: #dd4b39")
        img(src="./img/socials-go.svg", alt)
    else if data && data.modifier == 'article'
      a.socials__link(href="#")
        img(src="./img/socials-vk.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-fb.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-ig.svg", alt)
    else
      a.socials__link(href="#")
        img(src="./img/socials-fb-dark.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-vk-dark.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-tw-dark.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-tg-dark.svg", alt)
      a.socials__link(href="#")
        img(src="./img/socials-li-dark.svg", alt)