.socials {
  display: flex;

  &__link {
    margin-right: 9px;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &--login {

    .socials__link {
      margin-right: 12px;
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      img {
        max-width: 40%;
      }
    }
  }

  &--transparent {

    .socials__link {
      margin-right: 23px;
      max-width: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
