.conversation {
  background: #1e1e1e;

  &__aside {
    border-right: 1px solid rgba(#fff, .1);
    width: 100%;
  }

  &__aside-header {
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      border-bottom: 1px solid rgba(#fff, .1);
      padding: 15px;
    }
  }

  &__number {
    margin-left: 12px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;

    &:before {
      margin-right: 3px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/conversation-number-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__aside-content {
    position: relative;
    max-height: 413px;

    @include media-breakpoint-down(md) {
      max-height: 250px;
      border-bottom: 1px solid rgba(#fff, .1);
    }
  }
}
