mixin conversation(data)
  .conversation&attributes(attributes)
    .row.no-gutters
      .col-xl-3.col-lg-4.d-flex
        .conversation__aside
          .conversation__aside-header
            +search.search--dark
            .conversation__number 35
          .conversation__aside-content
            +message({
              photo: 'user-1.jpg',
              name: 'Вячеслав Чморшанс...',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-2.jpg',
              name: 'Юия Кирпа',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-3.jpg',
              name: 'Олег Олаф',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-4.jpg',
              name: 'Марина Олексеева',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-5.jpg',
              name: 'Ким Кин',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-6.jpg',
              name: 'Олег Вертегел',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-7.jpg',
              name: 'Риза Чалиев',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-1.jpg',
              name: 'Вячеслав Чморшанс...',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-2.jpg',
              name: 'Юия Кирпа',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-3.jpg',
              name: 'Олег Олаф',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-4.jpg',
              name: 'Марина Олексеева',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-5.jpg',
              name: 'Ким Кин',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-6.jpg',
              name: 'Олег Вертегел',
              content: 'Последнее сообщени...'
            }).message--front
            +message({
              photo: 'user-7.jpg',
              name: 'Риза Чалиев',
              content: 'Последнее сообщени...'
            }).message--front
      .col-xl-9.col-lg-8.d-flex
        +chat({
          modifier: 'conversation'
        }).chat--conversation