.search {
  padding: 12px 24px 12px 0;
  display: flex;
  width: 100%;
  background: #1e1e1e;

  &__input {
    padding-right: 10px;
    padding-left: 17px;
    flex-grow: 1;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 0;
    border-radius: 0;

    @include placeholder(rgba(#fff, .4));
  }

  &__btn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/zoom.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--dark {
    width: 200px;
    flex-shrink: 1;
    flex-grow: 0;
    background: #000;

    .search__input {
      max-width: 160px;
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
}
