.item {
  position: relative;
  margin-bottom: 20px;
  padding: 17px 25px;
  background: #1e1e1e;

  &__time-main {
    position: absolute;
    top: 0;
    left: calc((16.6667% + 40px) * (-1));
    width: 16.6667%;
    height: calc(100% + 20px);
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    border-right: 1px solid #fff;

    @include media-breakpoint-down(md) {
      left: calc((16.6667% + 30px) * (-1));
      padding-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__time {
    margin-right: 25px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(#fffefe, .5);
  }

  &__track {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  &__header-right {
  }

  &__star {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/item-star.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__content {
  }

  &__title {
    margin-bottom: 5px;
    padding-right: 80px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(sm) {
      padding-right: 40px;
    }
  }

  &__bottom {
  }

  &__speaker-job {
    opacity: .5;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .26em;
    text-transform: uppercase;
    color: #fff;
  }

  &--favorited {
    background: #6c6b6a;

    .item__star {
      background: url(../img/item-star--filled.svg) no-repeat center;
      background-size: contain;
    }
  }
}
