mixin item(data)
  .item&attributes(attributes)
    if data && data.time
      .item__time-main= data.time
    .item__header
      .item__header-left
        .item__time 10:00 - 19:00
        .item__track track name
      .item__header-right
        a.item__star(href="#")
    .item__content
      .item__title Заголовок для сессии в одну или несколько строк для наглядности отображения
    .item__bottom
      p.xs.text-white.mb-5 Виктор Моршанский
      .item__speaker-job Управляющий партнер ООО “Моршанский банк” 