mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .row
          .col-md-3.col-lg-2.d-flex.align-items-center
            .p.md.text-uppercase.text-white © 2020. <br>SKOLKOVO <br>NOBEL <br>FORUM
          .col-md-5.col-lg-7.d-flex.align-items-center
            .footer__link-wrapper
              a.footer__link(href="#") Политика конфиденциальности
              a.footer__link(href="#") пользовательское соглашение
          .col-md-4.col-lg-3.d-flex.align-items-center
            .h2.mb-0
              a.text-white(href="tel:88006689988") 8 800 668 99 88
