.footer {
  margin-top: 90px;

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }

  &__wrapper {
    position: relative;
    padding: 86px 0 63px;
    border-top: 10px solid $secondary;

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }

    &:before {
      position: absolute;
      top: 60px;
      left: -100px;
      display: block;
      width: 117px;
      height: 10px;
      content: '';
      background: $primary;
      transform: rotate(-45deg);
    }
  }

  &__link-wrapper {

    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }
  }

  &__link {
    margin-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;

    @include transition;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
