.partner {
  margin-bottom: 50px;
  display: block;
  width: 100%;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    margin-bottom: 25px;
    display: flex;
    height: 195px;
    justify-content: center;
    align-items: center;
    background: #fff;

    img {
      max-width: 75%;
      max-height: 75%;
    }
  }

  &__content {
  }
}
