mixin partner(data)
  a.partner(href="#")&attributes(attributes)
    .partner__picture
      img(src="./img/" + data.logo, alt)
    .partner__content
      p.text-uppercase.text-white.font-weight-medium.mb-5= data.title
      p.xs Краткое описание для примера о деятельности партнера
      