.speaker {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
  }

  &__photo {
    margin-bottom: 20px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    padding-top: 117.31%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__type {
    font-size: 10px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $dark;
  }

  &__name {
    margin: 10px 0 5px;
    color: #fff;
    text-transform: uppercase;
  }
  
  &__info {
    color: rgba(#fff, .5);
  }
}
