mixin speaker(data)
  a.speaker(href="#")&attributes(attributes)
    .speaker__photo(style="background-image: url(./img/" + data.photo + ");")
    .speaker__content
      p.speaker__name= data.name
      p.xs.speaker__info.mb-0= data.dscr
    
