mixin document(data)
  a.document(href="#")&attributes(attributes)
    img.document__icon(src="./img/" + data.icon, alt)
    .document__content
      p.xs.font-weight-semibold.text-secondary.document__title.mb-0= data.title
      .document__info= data.info