.document {
  display: flex;
  align-items: center;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__icon {
    margin-right: 23px;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  &__content {
  }

  &__info {
    opacity: .5;
    font-size: 12px;
    color: #fff;
  }

  &--white {

    .document__icon {
      margin-right: 18px;
      width: 36px;
      height: 36px;
    }

    .document__title {
      font-weight: 400;
      color: #fff !important;
    }
  }
}
