.session {

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    position: relative;
    padding-top: 88%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, .51) 100%);
    }
  }

  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }

  &__picture-title {
    position: absolute;
    bottom: 22%;
    left: -8%;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: #fffefe;
    transform: rotate(-90deg);

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }

  &__content {
    margin-top: 50px;
  }

  &__date {
    opacity: .5;
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
    text-transform: uppercase;
    color: #fffefe;
  }
}
