mixin session(data)
  a.session(href="#")&attributes(attributes)
    .session__picture(style="background-image: url(./img/" + data.picture + ');')
      .session__bg(style="background-image: url(./img/" + data.bg + ');')
      if data && data.modifier == 'date'
        .session__picture-title 19 ноября
    .session__content
      p.text-uppercase.text-white.mb-25= data.title
      .session__date= data.date