extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30.mb-lg-70
        a.link-back__btn(href="#")
        .h2.mb-0 Контентная страница
    .article
      .article__content
        .container
          img.img-fluid(src="./img/article-2.jpg", alt)
          .row
            .col-lg-7.offset-lg-2
              p.text-white.font-weight-bold.text-uppercase Нобелевской премии, Филдсовской премии, Абелевской премии, медали Дирака и других престижных наград за выдающиеся достижения в сфере науки.
              p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
        .wrapper__pattern.py-30.py-lg-50.my-30.my-lg-60
          .container
            .row
              .col-lg-7.offset-lg-2
                h2.mb-0 Нобелевской премии, Филдсовской премии, Абелевской премии, медали Дирака и других престижных наград за выдающиеся достижения в сфере науки.
        .container
          .row
            .col-lg-7.offset-lg-2
              h1 Значимый заголовок или краткое цитирование
              p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
      .container
        .article__illustration
          .article__illustration-content
            img(src="./img/article-3.jpg", alt)
          h2.text-uppercase.mt-30.mt-lg-50 Фото с подписью
    +gallery
  +footer