extends ../templates/template.pug
block content
  +header({
    modifier: 'cabinet'
  })
  .wrapper
    .cabinet
      .container
        .cabinet__tabs
          .link-back
            a.link-back__btn.mt-10(href="#")
          ul.nav.nav-tabs.mt-10.mt-md-0
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#cab1') Профиль
            li.nav-item
              a.nav-link(data-toggle='tab', href='#cab2') Мое расписание
            li.nav-item
              a.nav-link(data-toggle='tab', href='#cab3') Чаты
            li.nav-item
              a.nav-link(data-toggle='tab', href='#cab4') пропуск НА авто
        .tab-content
          #cab1.tab-pane.fade.show.active
            .cabinet__wrapper
              .cabinet__user
                img(src="./img/user.jpg", alt)
                p.text-uppercase.text-white.mt-20.mb-10 Виктор Моршанский
                p.xs.mb-15 Google inc.
                p.xs.font-weight-bold
                  a(href="#") Спикер
              .cabinet__info-wrapper
                .cabinet__info-header
                  p.text-uppercase.text-white.mb-10.mb-md-0 Общая информация
                  p.xs.mb-0.font-weight-bold
                    a(href="#") Редактировать
                .cabinet__info-content
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Email
                    p.xs.mb-0.text-white chertilov+11@raec.ru
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Контактный телефон
                    p.xs.mb-0.text-white +7 985 668 99 88
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Компания
                    p.xs.mb-0.text-white РУВЕНТС
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Должность
                    p.xs.mb-0.text-white Директор направления
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Отрасль
                    p.xs.mb-0.text-white EVENTS
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Сфера деятельности
                    p.xs.mb-0.text-white Управление
                  .cabinet__info
                    p.xs.font-weight-semibold.cabinet__info-title Страна проживания
                    p.xs.mb-0.text-white Россия
          #cab2.tab-pane.fade
            .cabinet__wrapper
              .cabinet__user
                img(src="./img/user.jpg", alt)
                p.text-uppercase.text-white.mt-20.mb-10 Виктор Моршанский
                p.xs.mb-15 Google inc.
                p.xs.font-weight-bold
                  a(href="#") Спикер
              .cabinet__schedule
                +item.item--favorited
                +item.item--favorited
                +item.item--favorited
                +item.item--favorited
                h2.font-weight-bold.text-uppercase.mt-30.mt-lg-50 Сессии в которых я учавствую
                +item({
                  modifier: 'personal'
                }).item--favorited
          #cab3.tab-pane.fade
            +conversation
          #cab4.tab-pane.fade
            form.form(action="#", method="POST")
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label ФИО водителя
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Номер автомобиля
                      input.input.form-control(type="text", required, placeholder="Заполните") 
              .form__section.mt-20.mt-lg-60
                .row
                  .col-md-3
                    button.btn.btn-outline-primary.w-100(type="submit") Отправить
  +footer
