extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Контакты
      .row
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-1.jpg',
            name: 'Елена <br>Бауэр',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-2.jpg',
            name: 'Мария <br>Костина',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-3.jpg',
            name: 'Олег Мосяж',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-4.jpg',
            name: 'Евгения <br>Воронкова',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-5.jpg',
            name: 'Нина <br>Батиашвили',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-6.jpg',
            name: 'Ирина <br>Гаврикова',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-7.jpg',
            name: 'Наталья <br>Опёнышева',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-8.jpg',
            name: 'Татьяна <br>Куликова',
            type: 'author'
          }).user--author
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'author-9.jpg',
            name: 'Кристина <br>Сахно',
            type: 'author'
          }).user--author
  +footer
