extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Вход
      .row
        .col-md-6.col-lg-4
          form.form.form--bg(action="#", method="POST")
            .form__top
              p.text-uppercase.text-white Войти в личный кабинет
              .form__item.form-group
                label.form__label Логин
                input.input.form-control(type="text", required, placeholder="Введите e-mail") 
              .form__item.form-group
                label.form__label Пароль
                input.input.form-control(type="text", required, placeholder="Введите пароль") 
              .form__item.form__item--row.form-group
                button.btn.btn-outline-primary(type="submit") Войти
                a.btn.btn-link.font-weight-normal.px-0(href="#") Забыли пароль?
            .form__bottom
              .form__login-socials.mt-0
                .form__socials-header Войти через:
                +socials({
                  modifier: 'login'
                }).socials--login
  +footer
