extends ../templates/template.pug
block content
  +header
  .wrapper.wrapper--main
    +front
    +text-card({
      icon: 'text-card-1.svg',
      header: 'Экспертная коммуникационная площадка, ',
      dscr: 'на которой «Сколково» выступит инициатором международной дискуссии о будущем и безграничных возможностях человеческого интеллекта'
    })
    +text-card({
      icon: 'text-card-2.svg',
      header: 'Насыщенная деловая программа, ',
      dscr: 'которая соберет беспрецедентный состав ведущих мыслителей современности, где ключевыми спикерами станут лауреаты Нобелевской, Филдсовской, Абелевской премии, медали Дирака и других престижных наград за выдающиеся достижения в сфере науки.'
    })
    +text-card({
      icon: 'text-card-3.svg',
      header: 'Вручение Skolkovo Awards ',
      dscr: ' – премии за технологию, которая изменила мир, наиболее яркое, прорывное технологическое и социально значимое решение, созданное в «Сколково» за 10 лет.'
    })
    +fancy-slider
  +footer
