extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-sm-30
        a.link-back__btn(href="#")
        .h2.mb-0 Networking
    .wrapper__pattern.py-20.py-lg-50
      .container
        +chat.chat--answerable
    .container.mt-40.mt-lg-100
      .row
        .col-lg-4.d-flex
          +chat-front({
            icon: 'chat-front-1.svg',
            bg: 'chat-front-bg-1.svg',
            title: 'Чаты по интересам'
          })
        .col-lg-4.d-flex
          +chat-front({
            icon: 'chat-front-2.svg',
            bg: 'chat-front-bg-2.svg',
            title: 'Персональный ЧАТ'
          })
        .col-lg-4.d-flex
          +chat-front({
            icon: 'chat-front-3.svg',
            bg: 'chat-front-bg-3s.svg',
            title: 'Вопрос <br>спикеру'
          })
  +footer
