extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Заголовок для новости в одну или несколько строк для наглядности
      .article
        .row
          .col-lg-7
            .article__content
              img.img-fluid(src="./img/news-1.jpg", alt)
              h2 Нобелевской премии, Филдсовской премии, Абелевской премии, медали Дирака и других престижных наград за выдающиеся достижения в сфере науки.
              p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
            .article__footer
              .article__date 21 ноября 19:00
              +socials({
                modifier: 'article'
              }).socials--transparent
          .col-lg-4.offset-lg-1.mt-40.mt-lg-0
            p.font-weight-bold.mb-30.text-white.text-uppercase Актуальное
            +news({
              picture: 'news-1.jpg',
            })
            +news({
              picture: 'news-2.jpg',
            })
  +footer
