extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Новости
      .row
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-1.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-2.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-3.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-4.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-5.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-6.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-7.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-8.jpg',
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-9.jpg',
          })
      +pagination
  +footer
