extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Участники
      .filters
        form.form(action="#", method="POST")
          .row
            .col-lg-3.d-flex.align-items-end
              +search
            .col-lg-9.d-flex.align-items-end
              .filters__content
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Должность
                  +select({
                    placeholder: 'Генеральный директор'
                  }).select--default
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Компания
                  +select({
                    placeholder: 'Google inc'
                  }).select--default
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Страна
                  +select({
                    placeholder: 'Россия'
                  }).select--default
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Статус
                  +select({
                    placeholder: 'УЧАСТНИК'
                  }).select--default
              a.filters__clear(href="#") Сбросить фильтр
      .row
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-1.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-2.jpg',
            comment: 'Google inc.'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-3.jpg',
            comment: 'Mail.ru Group'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-4.jpg',
            comment: 'Великий прорыв'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-5.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-6.jpg',
            comment: 'Google inc.'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-7.jpg',
            comment: 'Mail.ru Group'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-8.jpg',
            comment: 'Великий прорыв'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-1.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-2.jpg',
            comment: 'Google inc.'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-3.jpg',
            comment: 'Mail.ru Group'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-4.jpg',
            comment: 'Великий прорыв'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-5.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-6.jpg',
            comment: 'Google inc.'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-7.jpg',
            comment: 'Mail.ru Group'
          }).user--default
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-8.jpg',
            comment: 'Великий прорыв'
          }).user--default
      +pagination
  +footer
