extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 Партнеры
      .row
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-1.png',
            title: 'Ebay ltd.',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-2.png',
            title: 'mail.ru group',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-3.png',
            title: 'Chaturbate',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-4.png',
            title: 'Puma',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-1.png',
            title: 'Ebay ltd.',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-2.png',
            title: 'mail.ru group',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-3.png',
            title: 'Chaturbate',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-4.png',
            title: 'Puma',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-1.png',
            title: 'Ebay ltd.',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-2.png',
            title: 'mail.ru group',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-3.png',
            title: 'Chaturbate',
          })
        .col-sm-6.col-md-4.col-lg-3
          +partner({
            logo: 'partner-4.png',
            title: 'Puma',
          })
  +footer
