extends ../templates/template.pug
block content
  +header
  .wrapper
    .program
      .container
        .link-back.mb-30
          a.link-back__btn(href="#")
          .h2.mb-0 ПроГРАММА
        .program__header
          ul.nav.nav-tabs.nav-tabs--btns.mt-10.mt-md-0
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#program1') Основная программа
            li.nav-item
              a.nav-link(data-toggle='tab', href='#program2') Нетворкинг-сессии
          +document({
            icon: 'document-pdf.svg',
            title: 'Скачать программу',
            info: 'pdf 1.4 mb'
          })
        .tab-content
          #program1.tab-pane.fade.show.active
            +schedule({
              modifier: 'main'
            })
          #program2.tab-pane.fade
            +schedule({
              modifier: 'networking'
            })
  +footer
