extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .registration
        .link-back
          a.link-back__btn(href="#")
          .h2.mb-0 Регистрация
        ul.nav.nav-tabs.nav-tabs--steps
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#tab1') 1
          li.nav-item
            a.nav-link(data-toggle='tab', href='#tab2') 2
          li.nav-item
            a.nav-link(data-toggle='tab', href='#tab3') 3
          li.nav-item
            a.nav-link(data-toggle='tab', href='#tab4') 4
          li.nav-item
            a.nav-link(data-toggle='tab', href='#tab5') 5
        .tab-content
          #tab1.tab-pane.fade.show.active
            .row
              .col-sm-6.col-lg-4
                form.form(action="#", method="POST")
                  .form__item.form-group
                    label.form__label Ваш e-mail
                    input.input.form-control(type="text", required, placeholder="Введите e-mail") 
                  button.btn.btn-outline-primary(type="submit") Подтвердить
                  .form__login-socials
                    .form__socials-header Авторизоваться через:
                    +socials({
                      modifier: 'login'
                    }).socials--login
            .row.mt-30
              .col-lg-6
                p.text-uppercase.text-white Для продолжения регистрации пройдите пожалуйста по ссылке, направленной на указанной Вами адрес электронной почты
          #tab2.tab-pane.fade
            .row
              .col-lg-4
                form.form(action="#", method="POST")
                  .form__item.form-group
                    label.form__label Гражданство
                    .form__radio-list
                      .custom-control.custom-radio.custom-radio--row
                        input#customRadio1.custom-control-input(type='radio', checked, name='customRadio')
                        label.custom-control-label(for='customRadio1') Гражданин РФ
                      .custom-control.custom-radio.custom-radio--row
                        input#customRadio2.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio2') Не гражданин РФ
                  .row
                    .col-sm-9
                      button.btn.btn-outline-primary.w-100(type="submit") Продолжить
          #tab3.tab-pane.fade
            .row
              .col-sm-6.col-lg-4
                form.form(action="#", method="POST")
                  .form__item.form-group
                    label.form__label Статус
                    .form__radio-list
                      .custom-control.custom-radio.custom-radio--row
                        input#customRadio3.custom-control-input(type='radio', checked, name='customRadio')
                        label.custom-control-label(for='customRadio3') Гость
                      .custom-control.custom-radio.custom-radio--row
                        input#customRadio4.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio4') Пресса
                      .custom-control.custom-radio.custom-radio--row
                        input#customRadio5.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio5') Студент
                  .row
                    .col-sm-9
                      button.btn.btn-outline-primary.w-100(type="submit") Продолжить
          #tab4.tab-pane.fade
            form.form(action="#", method="POST")
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Город проживания
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Страна проживания
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Телефон
                      input.input.form-control(type="text", required, placeholder="Заполните") 
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Фамилия на русском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                    .form__item.form-group
                      label.form__label Имя на русском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                    .form__item.form-group
                      label.form__label Отчество на русском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Фамилия на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                    .form__item.form-group
                      label.form__label Имя на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                    .form__item.form-group
                      label.form__label Отчество на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item-row
                      .p.xs.text-white.mb-0 Пол
                      .custom-control.custom-radio
                        input#customRadio7.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio7') Мужской
                      .custom-control.custom-radio
                        input#customRadio8.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio8') Женский
              .form__section.mb-30
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Место рождения
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Дата рождения
                      input.input.input--datepicker.form-control(type="text", required, placeholder="ДД.ММ.ГГГГ") 
              .form__section.mb-30
                .row
                  .col-sm-6.col-lg-4
                    .d-flex.justify-content-between
                      .form__item.form__item--passport-serial.form-group
                        label.form__label Серия 
                        input.input.form-control(type="text") 
                      .form__item.form__item--passport-number.form-group
                        label.form__label номер паспорта
                        input.input.form-control(type="text") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Дата выдачи паспорта (для нерезидентов)
                      input.input.input--datepicker.form-control(type="text", required, placeholder="ДД.ММ.ГГГГ") 
              .form__section.mb-30
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Компания на русском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Компания на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Название компании для бейджа на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Должность
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Должность на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Отрасль
                      +select({
                        placeholder: 'Заполните'
                      })
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Сфера деятельности
                      +select({
                        placeholder: 'Заполните'
                      })
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item-row.justify-content-start
                      .p.xs.mb-0.mr-20.mr-xl-40 Фотография
                      .custom-file
                        input#customFile.custom-file-input(type='file')
                        label.custom-file-label(for='customFile') Выбрать
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item-row.justify-content-start
                      .p.xs.mb-0.mr-20.mr-xl-40 Фотография
                      .form__item-photo
                        img(src="./img/userpic.png", alt)
              .form__section
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Пароль
                      input.input.form-control(type="password", required) 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Повторите пароль
                      input.input.form-control(type="password", required) 
              .form__section
                .custom-control.custom-checkbox
                  input#customCheck1.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck1') Хочу общаться с участниками
                .custom-control.custom-checkbox
                  input#customCheck2.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck2') Я даю согласие на обработку моих персональных данных
                .custom-control.custom-checkbox
                  input#customCheck3.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck3') Я даю согласие на получение СМС рассылок
              .form__section.mt-20.mt-lg-60
                .row
                  .col-md-3
                    button.btn.btn-outline-primary.w-100(type="submit") Продолжить
          #tab5.tab-pane.fade
            form.form(action="#", method="POST")
              .form__section
                .row
                  .col-lg-8
                    .form__item.form-group
                      label.form__label Биография на русском
                      textarea.input.input--textarea.form-control(required, placeholder="Заполните") 
                .row
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Имя для бейджа на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                  .col-sm-6.col-lg-4
                    .form__item.form-group
                      label.form__label Фамилия для бейджа на английском
                      input.input.form-control(type="text", required, placeholder="Заполните") 
                .row
                  .col-lg-8
                    .form__item.form-group
                      label.form__label Биография на английском
                      textarea.input.input--textarea.form-control(required, placeholder="Заполните") 
                .row
                  .col-lg-3
                    button.btn.btn-outline-primary.w-100(type="submit") Зарегистрироваться
  +footer
