extends ../templates/template.pug
block content
  +header
  .wrapper
    .track
      .container
        .link-back.mb-30
          a.link-back__btn(href="#")
          .h2.mb-0 Коронакризис. Новые возможности для стартапов
        .track__info
          .track__info-left
            .track__info-left-top
              .track__info-left-main
                p.xs.text-white.font-weight-semibold.mb-0.mr-20.mr-lg-40 Название сессии
                p.xs.font-weight-semibold.mb-0 14 сентября    09:45 – 10:45
              .track__info-share
                p.xs.font-weight-semibold.mb-0.mr-20 Поделиться:
                +socials
          .row
            .col-lg-8
              .track__info-left-bottom
                p.xs.mb-0 Какие новые возможности взаимодействия стартапов с государством и крупным бизнесом открыла пандемия? Какие темы для стартапов наиболее востребованы сейчас и будут востребованы завтра? Как презентовать свои проекты государству? Участники не только обсудят эти вопросы, но и поделятся практическими рекомендациями по презентациям ИТ решений для органов власти.
        h2.mb-40.text-uppercase Спикеры
        .row
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-1.jpg',
              name: 'Виктория Моршанская',
              dscr: 'Mail.RU Group'
            })
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-2.jpg',
              name: 'Ольга Василевская',
              dscr: 'Google inc.'
            })
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-3.jpg',
              name: 'НИКОЛИНА КИМ',
              dscr: 'Управляющий партнер ООО “Моршанский банк”'
            })
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-4.jpg',
              name: 'Катерина Бабина',
              dscr: 'ОАО «УралВагонЗавод»'
            })
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-5.jpg',
              name: 'Игорь Ольшанский',
              dscr: 'Управляющий партнер ООО “Моршанский банк”'
            })
        h2.mb-40.text-uppercase модератор
        .row
          .col-sm-6.col-md-4.col-lg-3.col-xl-2
            +speaker({
              photo: 'user-1.jpg',
              name: 'Виктория Моршанская',
              dscr: 'Mail.RU Group'
            })
  +footer
