extends ../templates/template.pug
block content
  +header
  .wrapper
    .speaker-page
      .container
        +breadcrumbs({
          links: ['Спикеры', 'Дарья Абрамова']
        })
        h2.font-weight-bold.mt-30.mt-lg-50 Дарья Абрамова
        .speaker-page__info
          .h6.speaker-page__info-item CEO, Кодабра
          .h6.speaker-page__info-item Москва
        .row.mb-30.mb-lg-50
          .col-lg-3.mb-30.mb-lg-0
            img(src="./img/user-1.jpg", alt)
          .col-lg-9
            p.text-white.md Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
        h3.text-white Участник сессий
        p.sm.mb-10
          a(href="#") Название сессии в несколько строк
        p.sm.mb-10
          a(href="#") Название Трека в одну строку или несколько строк для наглядности отображения
        p.sm.mb-10
          a(href="#") Коронакризис. Новые возможности для стартапов
  +footer
