extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .link-back.mb-30
        a.link-back__btn(href="#")
        .h2.mb-0 СПИКЕРЫ
      .filters
        form.form(action="#", method="POST")
          .row
            .col-lg-4.d-flex.align-items-end
              +search
            .col-lg-8.d-flex.align-items-end
              .filters__content
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Должность
                  +select({
                    placeholder: 'Не выбрано'
                  }).select--default
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Компания
                  +select({
                    placeholder: 'Не выбрано'
                  }).select--default
                .form__item.form__item--column.form-group.mb-0
                  label.form__label Страна
                  +select({
                    placeholder: 'Не выбрано'
                  }).select--default
              a.filters__clear(href="#") Сбросить фильтр
      .row
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-1.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-2.jpg',
            type: 'speaker',
            comment: 'Google inc.'
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-3.jpg',
            comment: 'Mail.ru Group',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-4.jpg',
            comment: 'Великий прорыв',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-5.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-6.jpg',
            comment: 'Google inc.',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-7.jpg',
            comment: 'Mail.ru Group',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-8.jpg',
            comment: 'Великий прорыв',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-1.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-2.jpg',
            comment: 'Google inc.',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-3.jpg',
            comment: 'Mail.ru Group',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-4.jpg',
            comment: 'Великий прорыв',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-5.jpg',
            comment: 'Управляющий партнер ООО “Моршанский банк”',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-6.jpg',
            comment: 'Google inc.',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-7.jpg',
            comment: 'Mail.ru Group',
            type: 'speaker',
          }).user--default.user--speaker
        .col-sm-6.col-md-4.col-lg-3
          +user({
            picture: 'user-8.jpg',
            comment: 'Великий прорыв',
            type: 'speaker',
          }).user--default.user--speaker
      +pagination
  +footer
