extends ../templates/template.pug
block content
  +header
  .wrapper
    .track
      .container
        .link-back.mb-30
          a.link-back__btn(href="#")
          .h2.mb-0 Название Трека в одну строку или несколько строк для наглядности отображения
      .wrapper__pattern
        .container
          .row.no-gutters
            .col-lg-8.d-flex
              +player
            .col-lg-4.d-flex
              +chat
      .container
        .track__info
          .row
            .col-lg-8
              .track__info-left
                .track__info-left-top
                  .track__info-left-main
                    p.xs.text-white.font-weight-semibold.mb-0.mr-20.mr-lg-40 Название сессии
                    p.xs.font-weight-semibold.mb-0 14 сентября    09:45 – 10:45
                  .track__info-share
                    p.xs.font-weight-semibold.mb-0.mr-20 Поделиться:
                    +socials
                .track__info-left-bottom
                  p.xs.mb-0 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
            .col-lg-3.offset-lg-1
              .track__info-right
                .track__info-voting-wrapper
                  a.track__info-voting(href="#")
                    .track__info-icon.track__info-icon--down
                    p.xs.font-weight-semibold.mb-0 15
                  a.track__info-voting(href="#")
                    .track__info-icon.track__info-icon--up
                    p.xs.font-weight-semibold.mb-0 150
                .track__graph
                  img(src="./img/track-graph.svg", alt)
        .row
          .col-xl-6
            h2.mb-50.text-uppercase Спикеры
            .row
              .col-sm-6.col-lg-4
                +speaker({
                  photo: 'user-1.jpg',
                  name: 'Виктория Моршанская',
                  dscr: 'Mail.RU Group'
                })
              .col-sm-6.col-lg-4
                +speaker({
                  photo: 'user-2.jpg',
                  name: 'Ольга Василевская',
                  dscr: 'Google inc.'
                })
              .col-sm-6.col-lg-4
                +speaker({
                  photo: 'user-3.jpg',
                  name: 'НИКОЛИНА КИМ',
                  dscr: 'Управляющий партнер ООО “Моршанский банк”'
                })
              .col-sm-6.col-lg-4
                +speaker({
                  photo: 'user-4.jpg',
                  name: 'Катерина Бабина',
                  dscr: 'ОАО «УралВагонЗавод»'
                })
              .col-sm-6.col-lg-4
                +speaker({
                  photo: 'user-5.jpg',
                  name: 'Игорь Ольшанский',
                  dscr: 'Управляющий партнер ООО “Моршанский банк”'
                })
          .col-xl-6
            +questions
      .wrapper__pattern.wrapper__pattern--sessions
        .container
          h2.mb-30.mb-lg-50 ПРОГРАММА ТРЕКА
          .row
            .col-lg-4
              +session({
                picture: 'session-1.png',
                bg: 'session-1.svg',
                title: 'Название сессии в несколько строк',
                date: '19 ноября 10:00 - 19:00'
              })
            .col-lg-4
              +session({
                picture: 'session-2.png',
                bg: 'session-2.svg',
                title: 'Нетворкинг - сессии ЗАЛ 1',
                date: '10:00 - 19:00'
              })
            .col-lg-4
              +session({
                picture: 'session-3.png',
                bg: 'session-3.svg',
                title: 'Нетворкинг-сессии ЗАЛ 2',
                date: '19 ноября 10:00 - 19:00'
              })
  +footer
