mixin user(data)
  .user&attributes(attributes)
    a.user__picture(href="#")
      img(src="./img/" + data.picture, alt)
    .user__content
      if data && data.name
        p.text-uppercase.text-white.font-weight-medium.mb-10.user__name!= data.name
      else
        p.text-uppercase.text-white.font-weight-medium.mb-10 Виктор Моршанский
      if data && data.comment
        p.xs.user__comment= data.comment
      else 
        p.xs.user__comment Программа
      if data && data.type == 'author'
        p.xs.font-weight-semibold.mb-0
          a(href="#") EBauer@sk.ru
      else
        if data && data.type == 'speaker'
          .user__content-additional
            p.user__job Генеральный директор
            p.mb-0.user__country Россия
        a.user__message(href="#") Написать сообщение