.user {
  margin-bottom: 50px;

  &__picture {
    position: relative;
    padding-top: 117.37%;
    display: block;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-top: -75px;
    padding: 0 20px;
  }

  &__comment {
    color: rgba(#fff, .5);
  }

  &__content-additional {
  }

  &__job {
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
  }

  &__country {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  &__message {
    display: none;
  }

  &__name {
  }

  &--author {
    overflow: hidden;

    .user__picture {

      img {
        filter: grayscale(1);
      }
    }

    .user__content {
      margin-top: -60px;
    }

    .user__name {
      word-spacing: 100vw;
    }
  }

  &--default {
    position: relative;
    margin-bottom: 65px;

    .user__content {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: 0;

      @include transition;
    }

    &:hover {

      .user__content {
        top: 0;
        bottom: auto;
        left: 0;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        background: $black url(../img/user-pattern.svg) no-repeat bottom center;
      }

      .user__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #fff;

        @include transition;

        &:hover {
          opacity: .8;
        }

        &:before {
          margin-bottom: 20px;
          display: block;
          width: 56px;
          height: 56px;
          content: '';
          background: url(../img/user-message-icon.svg) no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  &--speaker {

    .user__content {
      margin-top: -100px;
      transition: none;
    }

    &:hover {

      .user__content {
        margin-top: 0;
      }
    }
  }
}
