.nobless {
  padding: 0 60px;
  display: flex !important;
  flex-direction: column;
  align-items: center;

  @include transition;

  &:hover {
    opacity: .8;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 40px;
  }

  &:focus {
    outline: none;
  }

  &.slick-active {

    .nobless__top {
      transform: scale(1.85);
    }

    .nobless__content {
      opacity: 1;
    }

    & + .slick-slide {
      transform: translateX(75px);

      .nobless__top {
        transform: scale(1.3);
      }
    }
  }

  &--prev {
    transform: translateX(-75px);

    .nobless__top {
      transform: scale(1.3);
    }
  }

  &__top {
    position: relative;
    display: inline-flex;
    border-radius: 50%;

    @include transition;

    &:before {
      position: absolute;
      top: -25px;
      left: -25px;
      display: block;
      width: calc(100% + 50px);
      height: calc(100% + 50px);
      content: '';
      background: #6c6b6a url(../img/nobless-bg.svg) no-repeat;
      background-size: auto 100%;
      border-radius: 50%;

      @include media-breakpoint-down(sm) {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
      }
    }
  }

  &__picture {
    position: relative;
    z-index: 1;
    width: 182px;
    height: 182px;
    background: $primary;
    border-radius: 50%;
    box-shadow: inset 0 0 26px rgba(0, 0, 0, .55);

    @include media-breakpoint-down(lg) {
      width: 140px;
      height: 140px;
    }

    @include media-breakpoint-down(sm) {
      width: 100px;
      height: 100px;
    }
  }

  &__picture-content {
    position: absolute;
    top: 23px;
    left: 23px;
    width: calc(100% - 46px);
    height: calc(100% - 46px);
    background: #C4C4C4;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: -8%;
    bottom: 0;
    width: 100%;
    height: 108%;
    border-radius: 0 0 50% 50%;
    object-fit: cover;
  }

  &__content {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 80px;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #6c6b6a;
  }
}

@for $i from 0 to 50 {

  .nobless:nth-child(#{$i}) {

    .nobless__top {

      &:before {
        background-position: random(100) / 100 * 100%;
      }
    }
  }
}
