mixin nobless(data)
  a.nobless(href="#")&attributes(attributes)
    .nobless__top
      .nobless__picture
        .nobless__picture-content
          //img.nobless__bg(src="./img/nobless-room.png", alt)
          img.nobless__img(src="./img/nobless.png", alt)
    .nobless__content
      .h2.mb-0 МАЙКЛ КРЕМЕР
      .p.md.text-white Профессор Гарвардского университета
      .nobless__info Премия по экономике памяти Альфреда Нобеля, 2019 г
