.front {
  margin-bottom: 125px;
  padding: 65px 0;
  background: url(../img/front.svg) no-repeat center;
  background-size: cover;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header-item {
    margin-bottom: 0;
    padding: 0 10px;
    background: $black;

    & + & {
      margin-top: 6px;
    }
  }

  &__date {
    margin-top: 35px;
    padding: 5px 10px;
    display: inline-flex;
    font-size: 34px;
    line-height: 1.21;
    color: #fffefe;
    background: $black;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
}
