mixin front(data)
  .front&attributes(attributes)
    .container
      .front__header 
        .h1.front__header-item SKOLKOVO 
        .h1.front__header-item NOBEL
        .h1.front__header-item FORUM
      .front__date 19 ноября 2020
