.fancy-slider {
  overflow: hidden;

  &__content {
    padding: 230px 0 60px;
    border-top: 10px solid $secondary;

    @include media-breakpoint-down(sm) {
      padding: 80px 0 40px;
    }
  }

  .slick-list {
    overflow: visible !important;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    width: 362px;
    height: 362px;
    font-size: 0;
    background: url(../img/fancy-arrow.svg) no-repeat center;
    transform: translate(-50%, -50%);

    &.slick-prev {
      margin-left: -215px;
      transform: translate(-50%, -50%) rotate(180deg);
    }

    &.slick-next {
      margin-left: 215px;
    }
  }

  .slick-dots {
    margin-top: 30px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;

      & + li {
        margin-left: 10px;
      }

      &.slick-active {

        button {
          background: $primary;
        }
      }

      button {
        display: block;
        width: 10px;
        height: 10px;
        font-size: 0;
        border-radius: 50%;
      }
    }
  }
}
