mixin fancy-slider(data)
  .fancy-slider&attributes(attributes)
    .container
      .fancy-slider__content
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
        +nobless
