.cabinet {
  background: url(../img/lines-bg.svg) repeat-x top 70px center;

  &__tabs {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__user {
    margin-right: 60px;
    max-width: 200px;
    flex-shrink: 0;
  }

  &__info-wrapper {
    padding: 20px 35px 0 40px;
    flex-grow: 1;
    background: #1e1e1e;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      width: 100%;
    }
  }

  &__info-header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-content {
  }

  &__info {
    padding: 17px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#fff, .1);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__info-title {
    margin-bottom: 0;
    padding-right: 20px;
    width: 266px;
    color: rgba(#fff, .78);

    @include media-breakpoint-down(md) {
      width: 200px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      width: auto;
    }
  }

  &__schedule {
    width: 100%;
  }
}
