.player {
  position: relative;
  width: 100%;

  @include transition;

  @include media-breakpoint-down(md) {
    min-height: 400px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 250px;
  }

  &:hover {
    opacity: .8;
  }

  &__picture {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 84px;
      height: 84px;
      content: '';
      background: url(../img/player-play.svg) no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);
    }
  }

  &__language {
    position: absolute;
    top: 12px;
    right: 23px;

    &:hover {

      .player__language-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__language-btn {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #000;

    &:after {
      margin-left: 5px;
      display: block;
      width: 5px;
      height: 4px;
      flex-shrink: 0;
      content: '';
      background: url(../img/triangle-yellow.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__language-content {
    display: none;
  }

  &__language-item {
    padding: 6px 8px;
    background: #000;
  }
}
