mixin player(data)
  .player&attributes(attributes)
    a.player__picture(href="#", style="background-image: url(../img/player-bg.png")
    .player__language
      a.player__language-btn(href="#") Ru
      .player__language-content
        a.player__language-item(href="#") Ru
        a.player__language-item(href="#") En