.language {
  position: relative;

  &:hover {

    .language__content {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;

    @include transition();

    &:after {
      margin-left: 5px;
      display: block;
      width: 5px;
      height: 4px;
      flex-shrink: 0;
      content: '';
      background: url(../img/triangle.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 10px;
    display: none;
  }

  &__link {
    padding: 10px 10px 10px 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
  }
}
