.link-back {
  display: flex;
  font-style: italic;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 14px;
    margin-right: 32px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: url(../img/link-back-arrow.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-top: 8px;
    }
  }

  .h2 {
    font-weight: 600;
  }
}
