.video {
  position: relative;
  padding-top: 56.31%;
  display: block;
  background-position: top center;
  background-size: cover;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/video-pattern.svg) no-repeat center;
    background-size: cover;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 96px;
    height: 96px;
    content: '';
    background: url(../img/video-play.svg) no-repeat center;
    transform: translate(-50%, -50%);
  }
}
