.questions {

  &__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: 30px 0 0 30px;
    background: #1e1e1e;

    @include media-breakpoint-down(sm) {
      padding: 15px 0 0 15px;
    }
  }

  &__list {
    position: relative;
    padding-right: 20px;
    max-height: 580px;
  }
}
