mixin questions(data)
  .questions&attributes(attributes)
    .questions__header
      .h2.text-uppercase Вопросы спикерам
      a.btn.btn-outline-primary(href="#question", data-fancybox) Задать вопрос
    .questions__content
      .questions__list
        +question
        +question
        +question
        +question
        +question
        +question
        +question
        +question
    +modal({
      modifier: 'question'
    })#question