.schedule {
  position: relative;
  margin-top: 25px;

  &__time-wrapper {
    width: 100%;
    border-right: 1px solid #fff;
  }

  &__time {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
  }

  &__content {
    width: 100%;
  }

  &__content-column {

    .item__header {
      margin-bottom: 10px;
    }

    .item__time-main {
      left: calc((33.33% + 45px) * (-1));
      width: 33.33%;

      @include media-breakpoint-down(md) {
        left: calc((33.33% + 35px) * (-1));
      }
    }

    &:last-child {

      .item__time-main {
        display: none;
      }
    }
  }
}
