mixin schedule(data)
  .schedule&attributes(attributes)
    .row
      
      if data && data.modifier == 'main'
        .col-sm-10.offset-sm-2.d-flex.position-static
          .schedule__content
            h2 Главный зал
            +item({
              time: '09:00 – 09:10'
            })
            +item({
              time: '09:10 – 09:25'
            }).item--favorited
            +item({
              time: '09:25 – 09:45'
            })
            +item({
              time: '09:45 – 10:45'
            }).item--favorited
            +item({
              time: '10:45 – 11:20'
            })
        
      else if data && data.modifier == 'networking'
        .col-sm-10.offset-sm-2.d-flex.position-static
          .schedule__content
            .row
              .col-sm-6.schedule__content-column
                h2 Зал 1
                +item({
                  time: '09:00 – 09:10'
                })
                +item({
                  time: '09:10 – 09:25'
                }).item--favorited
                +item({
                  time: '09:25 – 09:45'
                })
                +item({
                  time: '09:45 – 10:45'
                }).item--favorited
                +item({
                  time: '10:45 – 11:20'
                })
              .col-sm-6.schedule__content-column
                h2 Зал 2
                +item({
                  time: '09:00 – 09:10'
                })
                +item({
                  time: '09:10 – 09:25'
                }).item--favorited
                +item({
                  time: '09:25 – 09:45'
                })
                +item({
                  time: '09:45 – 10:45'
                }).item--favorited
                +item({
                  time: '10:45 – 11:20'
                })