mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href='#')
    .menu__content
      a.menu__item(href="#") О форуме
      a.menu__item(href="#") Программа
      a.menu__item(href="#") Спикеры
      a.menu__item(href="#") Участники
      a.menu__item(href="#") Networking
      a.menu__item.menu__item--live(href="#") Live
      a.menu__item(href="#") Партнеры
      a.menu__item(href="#") Skolkovo Awards 
      a.menu__item(href="#") Пресс-центр
      a.menu__item(href="#") Контакты
