.menu {

  @include media-breakpoint-down(md) {
    flex-grow: 1;
  }

  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      @include media-breakpoint-down(md) {
        background: url(../img/close.svg) no-repeat center;
        background-size: 60%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(md) {
        position: fixed;
        z-index: 1;
        top: 74px;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: calc(100vh - 74px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $black;
      }
    }
  }

  &__item {
    margin-right: 27px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      font-size: 24px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &--live {
      text-transform: uppercase;
      color: $primary;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        order: 1;
      }
    }
  }
}
