.select {
  width: 100%;

  &__input {
    padding: 0 19px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(#fff, .2);
    background: transparent;
    border: 1px solid #6c6b6a;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus,
    &:active {
      border-color: #6c6b6a !important;
      border-radius: 0 !important;
      outline: none!important;
    }
  }

  option {
    color: #000;
  }

  &--default {

    .select__input {
      padding-right: 40px;
      color: #fff;
      background: #1e1e1e url(../img/select-arrow.svg) no-repeat center right 20px;
      border: 0;
      //      border: 1px solid $primary;
    }

    option {
      color: #000;
      background: #fff;
    }
  }
}
