mixin select(data)
  .select&attributes(attributes)
    select.select__input
      if data && data.placeholder
        option(disabled, selected)= data.placeholder
      else
        option(disabled, selected) Заполните
      option Вариант 2
      option Вариант 3