.session-slider {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;

  &:before {
    position: absolute;
    top: -40px;
    right: calc(100% + 40px);
    display: block;
    width: 247px;
    height: 233px;
    content: '';
    background: url(../img/session-slider-prev.svg) no-repeat center;
    background-size: contain;
  }

  &:after {
    position: absolute;
    top: 270px;
    left: calc(100% + 40px);
    display: block;
    width: 247px;
    height: 233px;
    content: '';
    background: url(../img/session-slider-prev.svg) no-repeat center;
    background-size: contain;
  }

  &__item {
    margin: 0 20px;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    &.slick-current {

      & + .slick-slide {
        margin-top: 60px;

        @include media-breakpoint-down(sm) {
          margin-top: 0;
        }

        & + .slick-slide {
          margin-top: 120px;

          @include media-breakpoint-down(sm) {
            margin-top: 0;
          }
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 28px;
    height: 17px;
    background: url(../img/slider-arrow-prev.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    &.slick-prev {
      right: 70px;
    }

    &.slick-next {
      right: 0;
      transform: rotate(180deg);
    }
  }
}
