mixin session-slider(data)
  .session-slider&attributes(attributes)
    +session({
      picture: 'session-1.png',
      bg: 'session-1.svg',
      title: 'Название сессии в несколько строк',
      modifier: 'date',
      date: '19 ноября 10:00 - 19:00'
    }).session-slider__item
    +session({
      picture: 'session-2.png',
      bg: 'session-2.svg',
      title: 'Нетворкинг - сессии ЗАЛ 1',
      modifier: 'date',
      date: '10:00 - 19:00'
    }).session-slider__item
    +session({
      picture: 'session-3.png',
      bg: 'session-3.svg',
      title: 'Нетворкинг-сессии ЗАЛ 2',
      modifier: 'date',
      date: '19 ноября 10:00 - 19:00'
    }).session-slider__item
    +session({
      picture: 'session-1.png',
      bg: 'session-1.svg',
      title: 'Название сессии в несколько строк',
      modifier: 'date',
      date: '19 ноября 10:00 - 19:00'
    }).session-slider__item
    +session({
      picture: 'session-2.png',
      bg: 'session-2.svg',
      title: 'Нетворкинг - сессии ЗАЛ 1',
      modifier: 'date',
      date: '10:00 - 19:00'
    }).session-slider__item
    +session({
      picture: 'session-3.png',
      bg: 'session-3.svg',
      title: 'Нетворкинг-сессии ЗАЛ 2',
      modifier: 'date',
      date: '19 ноября 10:00 - 19:00'
    }).session-slider__item