.wrapper {
  flex-grow: 1;

  &__pattern {
    background: url(../img/pattern-bg.svg) repeat-x center;

    &--sessions {
      margin-top: 70px;
      padding-top: 50px;
      background-position: top center;
    }
  }

  &__session-slider {
    overflow: hidden;
  }

  &--main {
    background: url(../img/bg.svg) no-repeat 0 792px;
  }
}
