mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        +logo.header__logo
        +menu.header__menu
        a.header__sk(href="#")
          img(src="./img/sk-logo.svg", alt)
        +language.header__language
        if data && data.modifier == 'cabinet'
          .header__user
            a.header__userpic(href="#", style="background-image: url(/img/user.jpg);")
            a.header__messages(href="#") 3
            a.header__logout(href="#")
        else
          a.btn.btn-outline-primary.header__btn(href="#") Регистрация
          a.header__login(href="#")
