.header {
  padding: 38px 0;

  @include media-breakpoint-down(md) {
    position: sticky;
    z-index: 3;
    top: 0;
    padding: 10px 0;
    background: $black;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-right: 15px;
    }
  }

  &__menu-wrapper {
    display: flex;
    align-items: baseline;
  }

  &__menu {
    margin-bottom: -20px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__live {
  }

  &__sk {
    margin-right: 36px;
    display: block;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__language {
    margin-right: 24px;
  }

  &__btn {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__login {
    margin-left: 25px;
    display: block;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    background: url(../img/login-icon.svg) no-repeat center;
    border: 3px solid $primary;
  }

  &__user {
    margin-left: 100px;
    padding-right: 11px;
    display: flex;
    align-items: center;
    background: #1e1e1e;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__userpic {
    display: block;
    width: 45px;
    height: 45px;
    background-position: top center;
    background-size: cover;
    border: 4.5px solid $secondary;
    border-right: 0;
  }

  &__messages {
    margin: 0 17px;
    padding-top: 3px;
    padding-left: 2px;
    display: block;
    width: 20px;
    height: 23px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .26em;
    color: $black;
    background: url(../img/header-messages-icon.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__logout {
    width: 23px;
    height: 23px;
    background: url(../img/logout.svg) no-repeat center;
    background-size: contain;
  }
}
