.form {

  &__item {
    margin-bottom: 20px;

    &--passport-serial {
      margin-right: 20px;
      max-width: 114px;
    }

    &--passport-number {
      max-width: 208px;
    }

    &--row {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--column {
      margin: 0 14px;
      flex: 1 1 194px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        flex: 1 1 auto;
      }

      .form__label {
        color: rgba(#fff, .5);
      }
    }
  }

  &__label {
    margin-bottom: 12px;
    display: block;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .26em;
    text-transform: uppercase;
    color: #fff;
  }

  &__login-socials {
    margin-top: 32px;
    display: flex;
    align-items: center;

    &--bordered {
      margin-left: -30px;
      width: calc(100% + 60px);
      border-top: 1px solid #000;
    }
  }

  &__socials-header {
    margin-right: 14px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .26em;
    text-transform: uppercase;
    color: rgba(#fff, .5);
  }

  &__radio-list {
    margin-bottom: 10px;
    padding: 7px;
    display: inline-flex;
    border: 1px solid #6c6b6a;
  }

  &__section {
    margin-bottom: 10px;
  }

  &__item-row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    padding: 30px;

    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }

  &__bottom {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;

    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }

  &__item-photo {
    position: relative;
    width: 108px;
    height: 108px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &--bg {
    background: #1e1e1e;

    .input {
      border-color: transparent;
    }

    .btn-link {
      color: rgba($primary, .5);
    }

    .form__login-socials {
      width: 100%;
      justify-content: space-between;
    }
  }
}
